body {
	margin:100px;
	background-color:#000000;
	color:#007cef;	
	font-family:'Muli', sans-serif;
}

header {
	width:100%;
	padding-top:40px;
	overflow:hidden;
	background-image:url(../images/chatterbox_logo.gif);
	background-repeat:no-repeat;
	height:0px;
}

h2, h4, h5 {
	color:#7750cb;
}

#pagewrapper {
	width:600px;
	margin:0 auto;
}

/* Main Site Navigation */

nav {
	font-family:'Muli', sans-serif;
	font-size:14pt;
	color:#7750cb;
}

ul li {
	margin:0;
	padding:0;
}

menu {
	width:600px;
	padding:10px;
	background-color:#465d79;
	border:1px solid #c4e8ff;
}

menu ul {
	list-style:none;
}

menu li {
	display:inline;
}

a:link,
a:visited {
	padding-right:10px;
	color:#c4e8ff;
	text-decoration:none;
}

a:hover,
a:active {
	padding-right:10px;
	color:#64a2ea;
	text-decoration:none;
}

/* Text */

#name {
	color:#7750cb;
}

#post {
	color:#2a394d;
	
}

#time {
	color:#6e8097;
	font-size:70%;
	font-style:italic;
}

#welcome {
	font-size:120%;
	padding:50px 0 50px 10px;
	
}

/* Content Boxes */

.formcontent {
	width:580px;
	padding:20px;
	background-color:#c4e8ff;
	background-image:url(../images/CB_logo.gif);
	background-repeat:no-repeat;
	background-position:right;
}

#textbox {
	width:350px;
	height:60px;
	border:2px solid #007cef;
	padding:5px;
	font-size:11pt;
	color:#007cef;
}

.content-home{
	width:580px;
	height:200px;
	padding:20px;
	background-color:#c4e8ff;
	background-image:url(../images/CB_logo.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.content {
	width:580px;
	padding:20px;
	background-color:#c4e8ff;
}

.content a {
	color:#479cd1;
}

.content a:hover {
	color:#007cef;
}

/* Images */
img.profile {
	width:150px;
	height:150px;
}

img.posts {
	width:80px;
	height:80px;
}

/* Footer */

footer {
	color:#479cd1;
	font-size:80%;
	
}